	@charset "UTF-8";
	/* Stylesheet */
	
	html, body, div, p, span, img, a, ul, li, em, font, small, strong, sub, sup, b, u, i, input, h1, h2, h3, h4, h5, h6, noscript, object, fieldset, form, label, caption, legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	float: none;
	-webkit-font-smoothing: auto;
	}
	
	nav {
		font-family: century;
		font-size: 14px;
		width: 100%;
		height: 100%;
		

		
	}
	
	li {
		list-style: none;
	}
	
	/* ID */
	
	#content {
		width: 980px;
		margin: 0 auto;
	}
	
	#main_menu_nav h3 {
		color: #FFF;
		background: #045779;
		padding: 8px;
		padding-left: 10px;
		cursor: pointer;
		position: relative;
	}
	
	#main_menu_nav ul {
		height: auto;
		display: none;
	}
	
	#main_menu_nav li {
		color: #D2D7D8;
		background: #00789a;
		padding: 10px;
		padding-left: 20px;
		border-bottom: 1px solid #035c7e;
	}
	
		#main_menu_nav li:hover {
			color: #FFF;
			background: #108BAD;
		}
	
			#main_menu_nav li:last-child {
				border-bottom: none;
			}
	
	/* Cachons la case à cocher */
	#menu-accueil [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
		position: absolute;  
		left: -9999px;  
	}

	

	
	/* on prépare le label */
	#menu-accueil [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
		padding-left: 200px;
		padding-bottom: 36px;
		left: 0;
		top: 0;
		cursor: pointer;
		position: absolute;
	}
	
	/* Aspect général de la coche */
	#menu-accueil [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
		content: '\25bc';
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 14px;
		color: #002E41;
		transition: all .2s;
	}
	
	/* Aspect si "pas cochée" */
	#menu-accueil [type="checkbox"]:not(:checked) + label:after {
		opacity: 0; /* coche invisible */
		transform: scale(0); /* mise à l'échelle à 0 */
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
	}
	
	/* Aspect si "cochée" */  
	#menu-accueil [type="checkbox"]:checked + label:after {
		opacity: 1; /* coche opaque */
		transform: scale(1); /* mise à l'échelle 1:1 */
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
	}
	
	#menu-accueil label:before {
		opacity: 0;
	}
	
	#menu-accueil label:hover:before {
		content: '\25bc';
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 14px;
		color: #002E41;
		transition: all .2s;
		opacity: 1; /* coche opaque */
	}
	
	#basics_menu, #cms_menu, #tutorials_menu, #miscellaneous_menu,#emecanique_menu,#adm_menu,#formation_menu,#contact_menu {
		position: relative;
	}
	
	#basics_menu [type="checkbox"]:checked + label + ul, #cms_menu [type="checkbox"]:checked + label + ul, #tutorials_menu [type="checkbox"]:checked + label + ul, #miscellaneous_menu [type="checkbox"]:checked + label + ul,#emecanique_menu[type="checkbox"]:checked + label + ul, #adm_menu [type="checkbox"]:checked + label + ul,#formation [type="checkbox"]:checked + label + ul, #contact [type="checkbox"]:checked + label + ul{
		display: block;
	}
	
/* Coloration des sous-menus */	
	.transition_css {
		transition: all .4s ease-out;
		-webkit-transition : all .4s ease-out;
		-moz-transition: all .4s ease-out;
		-o-transition: all .4s ease-out;
		-ms-transition: all .4s ease-out;
	}







	/*.toggleSubMenu label:hover:after,.toggleSubMenu input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(images/arrow-down.png) no-repeat center center;	
}*/
	
	


/*custom font for text*/
/*@import url(http://fonts.googleapis.com/css?family=Nunito);
/*CSS file for fontawesome - an iconfont we will be using. This CSS file imported contains the font-face declaration. More info: http://fortawesome.github.io/Font-Awesome/ */
/*@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);

/* * {margin: 0; padding: 0;}

body {
	background: #4EB889;
	font-family: Nunito, arial, verdana;
}
#accordian {
	background: #004050;
	width: 250px;
	margin: 100px auto 0 auto;
	color: white;
	/*Some cool shadow and glow effect*/
	/*box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}
/*heading styles*/
/*#accordian h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	/*background: #003040; 
	background: linear-gradient(#003040, #002535);
}
/*heading hover effect*/
/*#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
/*#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
/*#accordian li {
	list-style-type: none;
}
/*links*/
/*#accordian ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	/*transition: all 0.15s;
}
/*hover effect on links*/
/*#accordian ul ul li a:hover {
	background: #003545;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
/*#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}

